{% extends "::front.html.twig" %}
{% block body %}
<section class="page-content-404" style="margin-top:150px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="background-wrap">
                    <div class="x1">
                        <div class="cloud-inner"></div>
                        <div class="cloud"></div>
                    </div>

                    <div class="x2">
                        <div class="cloud-inner"></div>
                        <div class="cloud"></div>
                    </div>

                    <div class="x3">
                        <div class="cloud-inner"></div>
                        <div class="cloud"></div>
                    </div>

                    <div class="x4">
                        <div class="cloud-inner"></div>
                        <div class="cloud"></div>
                    </div>

                    <div class="x5">
                        <div class="cloud-inner"></div>
                        <div class="cloud"></div>
                    </div>
                </div>
                <div class="img-404 text-center">
                    <img class="img-responsive" src="{{ asset('frontend/ivy/wp-content/themes/classiera/images/404.png') }}" alt="404">
                </div>
                <div class="text-404 text-center">
                    <h1 class="text-uppercase">Oops, {{ status_code }} {{ status_text }} </h1>
                    <h2 class="text-uppercase">Sorry We Cant Find That Page!</h2>
                    <h2 class="text-uppercase">عذرا، لا يمكننا العثور على هذه الصفحة</h2>
                    <p>حدث خطأ ما أو لم تعد الصفحة موجودة.</p>
                    <p>Either somthing went wrong or the page doesnt exist anymore.</p><br>
                    <a href="{{ path('taseerafrontend_homepage') }}" class="btn btn-primary btn-sm sharp btn-style-one">العودة إلى الصفحة الرئيسية</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grass-404" style="margin-bottom: 100px !important;"></section>


<!-- back to top -->
<a href="#" id="back-to-top" title="Back to top" class="social-icon social-icon-md"><i class="fa fa-angle-double-up removeMargin"></i></a>
<!--[if lte IE 8]>

<![endif]-->
{% endblock %}